---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Explore Events', href: 'https://events.crackdsa.com/', icon: 'tabler:arrow-up-right' }}
    callToAction2={{ text: 'Learn more', href: '#features' }}
    image={{ src: import('~/assets/images/hero.png'), alt: 'Hero Image' }}
  >
    <Fragment slot="title">
      Elevate your tech skills <span class="hidden lg:inline"><br />with</span>
      <span class="text-accent highlight"> crackDSA</span>
      <!-- dark:text-white -->
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">crackDSA </span>is the premier online destination for college students seeking to excel in coding, competitive programming, data structures and algorithms, and other technical skills.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">crackDSA: crack it!</span>
      Unlocking the full potential of college students through tailored education in coding, competitive programming, and more with crackDSA.
      <!-- Unlocking the full potential of college students through tailored education in coding, competitive programming, and more with CrackDSA -->
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    highlight=""
    title="Unlock Your Tech Potential with crackDSA"
    subtitle="Our expert-led tech bootcamps and masterclasses provide hands-on experience and guidance from industry professionals. Our online resources are up-to-date and relevant, ensuring that students have access to the most current information."
    items={[
      [
        {
          title: 'Completely Free Resources',
          description:
            'Our website offers a wide range of resources and bootcamps completely free of charge.',
          icon: 'tabler:discount-2',
        },
        {
          title: 'Structured Learning Content',
          description:
            'Curated and structured content for coding, competitive programming, data structures and algorithms, and other technical skills.',
          icon: 'tabler:components',
        },
        {
          title: 'Relevant and Up-to-date',
          description:
            'Online resources that are up-to-date and relevant to college students.',
          icon: 'tabler:list-check',
        },
      ],
      [
        {
          title: 'Expert-led Training',
          description:
            'Expert-led tech bootcamps, masterclasses and amazing events.',
          icon: 'tabler:rocket',
        },
        {
          title: 'Connect and Learn',
          description:
            'A community of like-minded individuals to connect with and learn from. We are working on our discuss portal where students can interact.',
          icon: 'tabler:social',
        },
        {
          title: 'Open to new ideas and contributions',
          description:
            'We are open to incorporating new ideas and resources that will enhance the learning experience.',
          icon: 'tabler:bulb',
        },
      ],
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    highlight=""
    title="And what's inside crackDSA?"
    items={[
      {
        title: 'Interview Preparation',
        description:
          'Ace your technical interviews with our comprehensive interview preparation resources and guidance.',
      },
      {
        title: 'Data Structures and Algorithms',
        description:
          'Unlock the full potential of your problem-solving skills with our DSA resources and guidance at every step of learning.',
      },
      {
        title: 'Competitive Programming',
        description:
          'Elevate your competitive programming skillswith our resources and guidance at every step of learning.',
      },
    ]}
    image={{
      src: import('~/assets/images/caos.jpg'),
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Your Personal Mentor</h3>
      We are dedicated to providing students with the free resources and guidance they need to excel in their technical interviews, data structures and algorithms (DSA), and full stack development.
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <!-- <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Per ei quaeque sensibus',
      },
      {
        title: 'Cu imperdiet posidonium sed',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
      },
      {
        title: 'Per ei quaeque sensibus',
      },
      {
        title: 'Cu imperdiet posidonium sed',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
      },
    ]}
    image={{
      src: import('~/assets/images/vintage.jpg'),
      alt: 'Vintage Image',
    }}
  /> -->

  <!-- Steps Widget ****************** -->

  <Steps
    title="Crack your dream company with our well structures resources and guidance."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Videos</span>',
        description:
          'Our resources provide the best of the already present videos on the internet, curated and structured in a way that is easy to follow, understand and implement.',
        icon: 'tabler:brand-youtube',
      },
      {
        title: 'Step 2: <span class="font-medium">Articles/Blogs</em>',
        description:
          'Our resources are carefully selected from the vast ocean of online content to bring you the most relevant, accurate, and up-to-date information, all in one place.',
        icon: 'tabler:notes',
      },
      {
        title: 'Step 3: <span class="font-medium">Practice Problems</span>',
        description:
          'Our coding practice problems are carefully curated to provide a diverse set of challenges, giving you the opportunity to practice and improve your coding skills.',
        icon: 'tabler:code',
      },
      {
      title: 'Step 3: <span class="font-medium"</span>',
        description:
          'Our resources are not only comprehensive and up-to-date, but we also provide guidance videos at every step. Our guidance videos ensures that you have the support you need to succeed, every step of the way.',
        icon: 'tabler:paint',
      },
      {
        title: 'You are ready to crack!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: import('~/assets/images/creativity.jpg'),
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Courses"
    subtitle="crackDSA is dedicated to providing students with the best and most relevant resources available on the internet. Instead of creating our own content, we curate and structure existing content in a way that is easy to follow, understand and implement. This allows us to provide students with the most up-to-date and comprehensive information, all in one place."
    highlight=""
    items={[
      {
        title: 'Headers',
        description:
          'In general, Headers contain information that makes it easier for visitors to interact with the website.',
        icon: 'flat-color-icons:template',
        link:"https://events.crackdsa.com",
      },
      {
        title: 'Heros',
        description:
          'If you want your website to get more than its fair share of visitors, the Hero section needs to be stellar.',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Display your product in action and how the Features actually create a solution for your target customer.',
        icon: 'flat-color-icons:todo-list',
      },
      {
        title: 'Content',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'icon-park:page-template',
      },
    ]}
  />

  <!-- HighlightedPosts Widget ******* -->

  <!-- <LatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
			Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
			Astro is a very interesting technology. Thanks.
		`}
    postIds={[
      'get-started-website-with-astro-tailwind-css.md',
      'how-to-customize-astrowind-to-your-brand.md',
      'useful-resources-to-create-websites.md',
      'astrowind-template-in-depth.md',
    ]}
  /> -->

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="crackDSA not only provides you with the best resources but also ensures that all your doubts and queries are cleared."
    highlight=""
    items={[
      [
        {
          question: 'How to start learning DSA?',
          answer:
            "Learning data structures and algorithms (DSA) can seem daunting at first, but with the right approach, it can be a fun and rewarding experience. The first step is to understand the basics of the subject. This includes understanding the different types of data structures (such as arrays, linked lists, trees, and graphs) and the most common algorithms (such as sorting and searching algorithms). Once you have a good understanding of the basics, it's time to start practicing. With perseverance, practice, and guidance, anyone can master DSA.",
        },
        {
          question: 'How to excel competitive programming?',
          answer:
            "To excel in competitive programming, practice regularly with a diverse set of problems, learn and implement efficient algorithms, stay updated with the latest trends, and participate in online contests to gain real-world experience. Seek guidance from experts and join online communities to enhance your learning experience.",
        },
      ],
      [
        {
          question: "How to start learning Full Stack Developement?",
          answer:
            "To start with full-stack development, start by learning the basics of front-end development using React or Angular. Learn the concepts of components, state management, and routing. Then, move on to back-end development and learn a programming language like Python or JavaScript, and a framework like Express or Django. Familiarize yourself with databases, such as MySQL or MongoDB. Practice building full-stack projects, and continuously improve your skills by learning new technologies, frameworks, and libraries.",
        },
        {
          question: 'How to prepare for technical interviews?',
          answer:
            "Preparing for a technical interview requires a combination of brushing up on your technical skills and knowledge, and practicing problem-solving. To brush up on your skills, review important concepts such as coding, algorithms, data structures, and computer science principles. This can be done by studying relevant materials. ",
        },
      ],
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    items={[
      { name: 'Subscribers', value: '8k' },
      { name: 'Members', value: '10K' },
      { name: 'Followers', value: '23K' },
      { name: 'Participants', value: '12K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Explore Bootcamps',
      href: 'https://events.crackdsa.com',
      icon: 'tabler:arrow-up-right',
    }}
  >
    <Fragment slot="title">
      crackDSA <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Events</span>
    </Fragment>

    <Fragment slot="subtitle">
      <br/>Expert-led Tech Bootcamps and Masterclasses :)<br/><br/>Join our tech bootcamps and take your career to the next level with hands-on training and industry-relevant skills.
    </Fragment>
  </CallToAction>
</Layout>
